parameters:
	ignoreErrors:
		-
			message: "#^Caught class PHPUnit_Framework_ExpectationFailedException not found\\.$#"
			count: 1
			path: src/Antecedent/IndependentConstraintsAntecedent.php

		-
			message: "#^Caught class PHPUnit_Framework_ExpectationFailedException not found\\.$#"
			count: 1
			path: src/Generator/SuchThatGenerator.php

		-
			message: "#^Class PHPUnit_Framework_Constraint not found\\.$#"
			count: 1
			path: src/Generator/SuchThatGenerator.php

		-
			message: "#^Class PHPUnit_Framework_Constraint not found\\.$#"
			count: 1
			path: src/Quantifier/ForAll.php

