<?xml version="1.0" encoding="UTF-8" ?>
<phpunit bootstrap="test/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Full">
            <directory>./test</directory>
        </testsuite>
        <testsuite name="Examples">
            <directory>./examples</directory>
        </testsuite>
    </testsuites>
    <php>
        <ini name="display_errors" value="1" />
        <ini name="display_startup_errors" value="1" />
        <ini name="error_reporting" value="E_ALL" />
    </php>
</phpunit>
